.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >=900px) {
  .hero {
    padding: 40px 32px;
  }
}

.hero1 {
  padding: 50px;
  height: auto !important;
  width: auto;
  min-height: auto;
}

.hero1 div div {
  display: flex;
  width: max-content;
}

.hero1 div div h2 {
  color: #FFFFFF;
  padding: 10px 0px 0px 0px;
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  max-width: 850px;
  float: left;
  text-align: left;
}

.hero1 div div p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero1 div div p picture {
  background-position: center center;
  background-size: cover;
}

.hero1 div div p a {
  color: #fff !important;
  background-color: #eb1933 !important;
}

.hero1 div div p a:hover {
  background-color: #022559;
  border: none !important;
}